:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --second-color: #757575;
  --white-color: #ffffff;
}
body {
  font-family: var(--main-font);
  color: #212121;
  margin: 0;
  padding: 0;
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
ul {
  list-style: none;
}
img {
  display: block;
  padding-bottom: 20px;
}
nav {
  color: #757575;
  text-decoration: none underline;
}
.navi {
  display: flex;
  align-items: center;
  gap: 93px;
}
header {
  height: 79px;
  border-bottom: 1px solid #ececec;
}
.navi-list {
  display: flex;
  align-items: center;
  gap: 46px;
}

.navi-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0, 02em;
  line-height: 16px;
}
.navi-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  gap: 46px;
}

.navi-link:hover,
.navi-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus,
.address-link:hover,
.address-link:focus,
.item-company:hover,
.item-company:focus,
.item-social-person:hover,
.item-social-person:focus {
  color: var(--main-color);
}
link:hover,
link:focus {
  background: black;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
}
.section-tittle {
  margin: 0 auto;
  max-width: 1600px;
  height: 37.5rem;
  position: relative;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  padding-top: 80px;
  padding-left: 0px;
}
.tittle {
  font-style: normal;
  font-weight: 900px;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 40rem;
}
.tittle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%,-50%);
}
.button-index {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  color: white;
  line-height: 1.875rem;
  letter-spacing: 0.06em;
}
.site-headind {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 50px;
}
.site {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  line-height: 1.938rem;
}
.adress-list {
  padding: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.image-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.image-list-item:not(:last-child) {
  padding-right: 30px;
}
.adress {
  display: flex;
  align-items: center;
  gap: 46px;
  font-weight: bold;
}
.mail-link,
.tel-link,
.addres {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  color: var(--second-color);
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
.mail-link,
.tel-link{
  display: flex;
}
.mail-link svg,
.tel-link svg {
  margin-right: 10px;
}
.mail-link svg:hover,
.tel-link svg:hover {
  fill: #03a9f4;
}
.addres {
  color: #fff;
}
.button-portfolio {
  cursor: pointer;
  font-family: Roboto;
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.lorem-list {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 90px;
}
.lorem-list-item {
  font-style: normal;
}
.lorem-list-item-1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: black;
}
.lorem-list-item-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
  padding-top: 0px;
  padding-bottom: 50px;
}
.section-we {
  background-color: #f5f4fa;
}
.person-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  align-items: center;
  gap: 30px;
  padding-left: 0px;
}

.person-list-item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: auto;
}
.person-job {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
}
.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding-top: 0px;
  text-align: center;
}
.social {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 0px;
}
.social-person-list:not(:last-of-type) {
  margin-right: 10px;
}
.item-social-person {
  fill: #aaa9a9;
  height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site {
  color: #2196f3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.studio {
  color: black;
}
.site,
.studio {
  font-weight: 700;
  font-style: normal;
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: #fff;
  font-weight: 700;
}
.company {
  display: flex;
  justify-content: space-between;
}
.item-company {
  border: #757575;
}
.footer {
  background-color: #2f303a;
  display: flex;
  align-items: center;
position: static;
}
.footer-content {
  display: flex;
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 60px;
  text-decoration: none;
}

.change-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-top: 56px;
  padding-bottom: 50px;
}
.change-list-item:not(:last-child) {
  padding-right: 8px;
}
.change-btn {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}
.change-btn:hover,
.change-btn:focus {
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 0px;
}
.portfolio-list-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.portfolio-list-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 0px;
  padding-left: 24px;
}
.category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-top: 4px;
  padding-left: 24px;
  padding-bottom: 20px;
  font-family: Roboto;
}
.follow-us {
  color: #fff;
font-size: 14px;
font-weight: bold;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.social-list-link:hover,
.item-social-person:hover {
  background-color: #03a9f4;
  fill: #fff;
}
.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 0px;
  }
  .social-list-item:not(:last-of-type) {
margin-right: 10px;
  }
  .social-list-link {
    fill: #fff;
    background: rgba(255, 255, 255, 0.1);
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-media {
    margin-left: 70px;
    padding-top: 8px;
  }