:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
  --second-color: #757575;
  --white-color: #ffffff;
}
.body {
  font-family: var(--main-font);
  color: #212121;
}
.navi-list,
.addres,
.adress,
.lorem-list,
.image-list,
.person-list,
.adress-list,
.change-list,
.portfolio-list,
.company,
.social,
.social-list,
.portfolio-list-item-link,
.portfolio-list-item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.conteiner {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.navi {
  display: flex;
  align-items: center;
  gap: 93px;
}

header {
  height: 79px;
  border-bottom: 1px solid #ececec;
}
.navi-list {
  display: flex;
  align-items: center;
  gap: 46px;
}
.navi-list-item {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0, 02em;
  line-height: 16px;
}
.navi-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  gap: 46px;
}

.navi-link:hover,
.navi-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus,
.address-link:hover,
.address-link:focus,
.item-social-person:hover,
.item-social-person:focus {
  color: var(--main-color);
}
link:hover,
link:focus {
  background: black;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}
.section-tittle {
  margin: 0 auto;
  max-width: 1600px;
  height: 37.5rem;
  position: relative;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  padding-top: 80px;
  padding-left: 0px;
}
.tittle {
  font-style: normal;
  font-weight: 900px;
  font-size: 44px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  width: 40rem;
}
.tittle-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.button-index {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  background: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  padding: 10px;
  color: var(--white-color);
  line-height: 1.875rem;
  letter-spacing: 0.06em;
}
.site-headind,
.site-headind-client {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0px;
}
.site-headind {
  padding-top: 94px;
  padding-bottom: 50px;
}
.site-headind-client {
  margin-bottom: 50px;
}
.site {
  font-family: sans-serif;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  line-height: 1.938rem;
}
.adress-list {
  padding: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.image-list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.image-list-item:not(:last-child) {
  padding-right: 30px;
}
.adress {
  display: flex;
  align-items: center;
  gap: 46px;
  font-weight: bold;
}
.mail-link,
.tel-link,
.addres {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.5rem;
  letter-spacing: 0.03rem;
  color: var(--second-color);
  text-decoration: none;
}
.mail-link,
.tel-link {
  display: flex;
}
.mail-link svg,
.tel-link svg {
  margin-right: 10px;
}
.mail:hover,
.tel:hover {
  fill: var(--main-color);
}
.addres {
  color: var(--white-color);
}
.button-portfolio {
  cursor: pointer;
  font-family: var(--main-font);
  width: 121px;
  height: 38px;
  left: 961px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
}
.section-lorem {
  padding-top: 94px;
}
.lorem-list {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 30px;
}
.lorem-list-item {
  font-style: normal;
  width: 270px;
}
.lorem-list-item::before::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.lorem-list-item-0 {
  margin-bottom: 30px;
  background-color: #F5F4FA;
}
.lorem-list-item-1 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  color: black;
  padding-bottom: 10px;
  margin: 0px;
}
.lorem-list-item-2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-bottom: 50px;
  margin: 0px;
}
.section-we {
  background-color: #f5f4fa;
}
.person-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
  align-items: center;
  gap: 30px;
  padding-left: 0px;
}
.person-list-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05), 0px 1px 1px rgba(0, 0, 0, 0.05), 0px 2px 1px rgba(0, 0, 0, 0.2);
  height: auto;
  max-width: 270px;
}
.person-job {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-top: 0px;
  text-align: center;
  margin: 0px;
}
.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  padding-top: 0px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0px;
}
.social {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 0px;
}
.social-person-list:not(:last-of-type) {
  margin-right: 10px;
}
.item-social-person {
  fill:  #AFB1B8;
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.site {
  color: var(--main-color);
  font-family: var(--main-font);
}
.studio {
  color: black;
}
.site,
.studio {
  font-weight: 700;
  font-style: normal;
  font-family: Raleway;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo {
  color: var(--white-color);
  font-weight: 700;
}
.company {
  display: flex;
  justify-content: space-between;
}
a {
  text-decoration: none;
}
h3 {
  color: #212121;
}

.item-company-link {
  fill:  #AFB1B8;;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid;
  border-color: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item-company:not(:last-of-type) {
  padding-right: 30px;
}
.section-client {
  padding-bottom: 94px;
  padding-top: 94px;
}
.footer {
  background-color: #2f303a;
  display: flex;
  align-items: center;
}
.footer::before::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.footer-content {
  padding-top: 60px;
  padding-left: 30px;
  padding-bottom: 60px;
  text-decoration: none;
  display: flex;
}
.adress-list {
  text-align: left;
}
.section-portfolio-list {
  padding-bottom: 94px;
}
.change-list {
  display: flex;
  justify-content: center;
  padding-top: 94px;
  margin-top: 56px;
  padding-bottom: 50px;
}
.change-list-item:not(:last-child) {
  padding-right: 8px;
}
.change-btn {
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}
.change-btn:hover,
.change-btn:focus {
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}
.border {
  border-style: solid;
  border-width: 1px;
  border-color: #EEEEEE;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  padding: 0px;
  text-decoration: none;
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--white-color);
}
.portfolio-list-item {
  background: var(--white-color);
  box-sizing: border-box;
}
.portfolio-list-name {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-top: 0px;
  padding-left: 24px;
  text-decoration: none;
  margin: 0px;
  padding-top: 20px;
}
.category {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding-left: 24px;
  font-family: var(--main-font);
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 4px;
}
img {
  display: block;
}
.follow-us {
  color: var(--white-color);
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.social-list-link:hover,
.item-social-person:hover {
  background-color:var(--main-color);
  fill: var(--white-color);
}
.item-company-link:hover,
.item-company-link:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
}
.social-list {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 30px;
  padding-left: 0px;
}
.social-list-item:not(:last-of-type) {
  margin-right: 10px;
}
.social-list-link {
  fill: var(--white-color);
  background: rgba(255, 255, 255, 0.1);
  height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-media {
  margin-left: 70px;
  padding-top: 8px;
}
